.px {
    /* https://on-ze.com/demo/css3-small-font/ */

    /* fontによって文字サイズがある */
    /* https://teratail.com/questions/180060 */
    font-family: "メイリオ";
    font-feature-settings: "fwid";
    
    line-height: 13px;/*行間*/
    white-space: nowrap;
    -webkit-transform:scale(0.3);
    -moz-transform:scale(0.3);
    -ms-transform:scale(0.3);
    -o-transform:scale(0.3);
    transform:scale(0.3);
    font-weight: 800;
    letter-spacing: -0.20em; /*文字間隔*/

    /* 余白を潰す処理 */
    /* http://cqcq.sblo.jp/article/179242853.html */
    -moz-transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    vertical-align:top;
}

.cpx {
    /* https://on-ze.com/demo/css3-small-font/ */

    /* fontによって文字サイズがある */
    /* https://teratail.com/questions/180060 */
    font-family: "メイリオ";
    font-feature-settings: "fwid";
    
    line-height: 13px;/*行間*/
    white-space: nowrap;
    -webkit-transform:scale(0.3);
    -moz-transform:scale(0.3);
    -ms-transform:scale(0.3);
    -o-transform:scale(0.3);
    transform:scale(0.3);
    font-weight: 900;
    letter-spacing: -0.60em; /*文字間隔*/

    /* 余白を潰す処理 */
    /* http://cqcq.sblo.jp/article/179242853.html */
    -moz-transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    vertical-align:top;
}

/* a{
    text-decoration: none;
    background-color:cadetblue;
    color: azure;
    font-size: 20px;
    font-family: 'Bitter',serif;
    width: 130px;
    text-align: center;
    line-height: 50px;
    border-radius: 5px;
    border: 3px solid cadetblue;
} */

/* a:hover{
    text-decoration: none;
    background-color: azure;
    color: cadetblue;
} */

/*ソースコードを選んでくださいの文章*/
#src-code{
    display: none;
}

/*ソースコード入力フォーム*/
#code{
    display: none;
}

#change{
    display: none;
}

#copy{
    display: none;
}