.px {
    /* https://on-ze.com/demo/css3-small-font/ */
    text-align: center;
    /* font-size: 10px; */
    /* margin:0;
    padding:0; */
    line-height: 16px;/*行間*/
    white-space: nowrap;
    -webkit-transform:scale(0.15);
    -moz-transform:scale(0.15);
    -ms-transform:scale(0.15);
    -o-transform:scale(0.15);
    transform:scale(0.15);
    font-weight: 800;
    /* 余白を潰す処理 */
    /* http://cqcq.sblo.jp/article/179242853.html */
    -moz-transform-origin: 0px 0px;
    -webkit-transform-origin: 0px 0px;
    -o-transform-origin: 0px 0px;
    -ms-transform-origin: 0px 0px;
    transform-origin: 0px 0px;
    vertical-align:top;
}

a{
    text-decoration: none;
    background-color:cadetblue;
    color: azure;
    font-size: 20px;
    font-family: 'Bitter',serif;
    width: 130px;
    text-align: center;
    line-height: 50px;/*ボタンの高さ*/
    border-radius: 5px;/*角を丸く*/
    border: 3px solid cadetblue;
}

a:hover{
    text-decoration: none;
    background-color: azure;
    color: cadetblue;
}

#change{
    display: none;
}

#copy{
    display: none;
}